<div class="world">
    <h2 style="text-align: center; margin-top: 20px;">Covid-19 cases India</h2>
    <p  style="text-align: center;">Updated on {{Date | date:'medium'}}</p>

<div class="row">
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3" id="card">
        <div class="card-body">
            
          <h3 class="card-title">Total Confirmed </h3>
          <h2 class="card-text">{{global.TotalConfirmed.toLocaleString('en-IN')}}</h2>
          <p class="card-text" style="text-align: center;">
            <img  src="../../assets/up-arrow (2).png">
            {{global.NewConfirmed.toLocaleString('en-IN')}}</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h3 class="card-title">Total Recovered</h3>
          <h2 class="card-text">{{global.TotalRecovered.toLocaleString('en-IN')}}</h2>
          <p class="card-text" style="text-align: center;">
            <img  src="../../assets/up-arrow.png">
            {{global.NewRecovered.toLocaleString('en-IN')}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="card text-black bg-warning mb-3">
          <div class="card-body">
          <h3 class="card-title">Total Active </h3>
          <h2 class="card-text">{{(global.TotalConfirmed-(global.TotalRecovered + global.TotalDeaths )).toLocaleString('en-IN')}}</h2>
          </div>
      </div>
    </div>
    
    <div class="col-sm-6">
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
            <h3 class="card-title">Total Death</h3>
            <h2 class="card-text">{{global.TotalDeaths}}</h2>
            <p class="card-text" style="text-align: center;">
              <img  src="../../assets/up-arrow.png">
              {{global.NewDeaths}}</p>
        </div>
        </div>
    </div>
    <!-- <div class="col">

    </div> -->
  </div>

  